<div class="main">
  <div class="main-top">
    <div class="main-top__group">
      <h3 class="main-top__group"><%= @member.name %></h3>
    </div>
    <div class="main-top__member">
      <p class="main-top__member__text">Member :</p>
      <% @member.users.each do |user| %>
        <ul class="main-top__member__name">
          <li><%= user.name %></li>
        </ul>
      <% end %>
      <%= link_to  edit_member_path(@member) do%>
        <p>編集</p>
      <% end %>
    </div>
  </div>
  <div class="main-message">
    <% @messages.each do |message| %>
      <% if message.user.id == current_user.id %>
        <div class="main-message__box1">
          <div class="main-message__box1__info">
            <ul>             
              <li><%= message.user.name %></li>
              <li><%= image_tag "#{message.user.image}", class: "main-message__box1__info__image" %></li>
              <li ><%= message.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
            </ul>
          </div>
          <div class="main-message__box1__info__message">
            <% if message.message.present? %>
              <p><%= message.message %></p>
            <% end %>
            <% if  message.image.present? %>
            <%= image_tag "#{message.image}", class: "main-message__box1__image" %>
            <% end %>
          </div>
          <div class="main-message__box1__info__trash">
            <%= link_to member_message_path(@member.id, message.id), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
      <% else %>
        <div class="main-message__box2">
          <div class="main-message__box2__info">
            <ul>             
              <li><%= message.user.name %></li>
              <li><%= image_tag "#{message.user.image}", class: "main-message__box2__info__image" %></li>
              <li ><%= message.created_at.strftime("%Y年%m月%d日 %H時%M分") %>
            </ul>
          </div>
          <div class="main-message__box2__info__message">
            <% if message.message.present? %>
              <p><%= message.message %></p>
            <% end %>
            <% if  message.image.present? %>
            <%= image_tag "#{message.image}", class: "main-message__box2__image" %>
            <% end %>
          </div>
          <div class="main-message__box2__info__trash">
            <%= link_to member_message_path(@member.id, message.id), method: :delete do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
  <div class="main-bottom">
    <%= form_with model:  [@member, @message], html: {class: "message-form"}, local: true do |f| %>
      <div class ="form-box"> 
        <%= f.text_field :message, class: "form-box__message", placeholder: "type a message" %>
        <%= f.file_field :image,class: "form-part" %>
        <%# <i class="fas fa-image"></i> %>
        <%= f.submit class: "send" %>
      </div>
    <% end %>
  </div>
</div>