<div class="side">
  <div class= "new-group">
    <%= link_to "Make Member", new_member_path, class:"make-member-btn" %>
  </div>
  <div class="member">
    <% @members.each do |member| %>
      <div class= "member-box">
        <%= link_to member_messages_path(member),class: "member-name" do %> 
          <%= member.name %> 
        <% end %>
        <div class ="member-list">
          <% member.users.each do |user| %>
            <ul>             
              <li><%= user.name %></li>
              <li><%= image_tag "#{user.image}", class: "member-image" %></li>
            </ul>
          <% end %>
        </div>
        <% if member.users.count > 5 %>
          <p class="member-count">他{<%= member.users.count-5 %>人}</p>
        <% end %>
        <p class="last-message"><%= member.show_last_message %>
      </div>
    <% end %>
  </div>
</div>