<div class="followed-lists">
  <p>フォローリクエストが来ています</p>
  <% @followed_requests.each do |request| %>
    <% if request.followed_id == current_user.id %>
      <%= link_to user_path(request.following.id) do %>
        <%= request.following.name %>
      <% end %>
      <%= link_to "フォロー承認", followed_followed_allow_path(followed_id:current_user.id, id:request.id), method: :post %> 
      <%= link_to "フォロー拒否", followed_followed_follow_request_path(followed_id:current_user.id, id:request.id), method: :delete %>
    <% end %>
  <% end %>
</div>

<div class="following-lists">
  <p>フォローリクエスト申請中です</p>
  <% @following_requests.each do |request| %>
    <% if request.following_id == current_user.id %>
      <%= link_to user_path(request.followed.id) do %>
        <%= request.followed.name %>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="friend-lists">
  <p>仲間一覧</p>
  <% @follow_okays.each do |follow| %>
    <% if follow.following_id == current_user.id %>
      <%= link_to user_path(follow.followed.id) do %>
        <%= follow.followed.name %>
      <% end %>
    <% else %>
      <%= link_to user_path(follow.following.id) do %> 
        <%= follow.following.name %>
      <% end %>
    <% end %>
  <% end %>
</div>
