<header>
    <div class="header-left">
      <h1>Follows*</h1>
    </div>
    <div class="header-right">
      <ul class="header-nav">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in?%>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul> 
    </div>
</header>

<div class="follow">
  <% if @followed_requests.exists? %>
    <div class="followed-lists">
      <p>フォローリクエストが来ています</p>
      <div class="followed-lists__item">
        <% @followed_requests.each do |request| %>
          <div class="followed-lists__item__part">
            <% if request.followed_id == current_user.id %>
              <%= link_to user_path(request.following.id) do %>
                <p><%= request.following.name %></p>
                <p><%= image_tag request.following.image.url, class: "followed-lists__item__part__img" %></p>
              <% end %>
              <%= link_to "フォロー承認", followed_followed_allow_path(followed_id:current_user.id, id:request.id), method: :post %> 
              <%= link_to "フォロー拒否", followed_followed_follow_request_path(followed_id:current_user.id, id:request.id), method: :delete %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>  
  <% end %>

  <% if @following_requests.exists? %>
    <div class="following-lists">
      <p>フォローリクエスト申請中です</p>
      <div class="following-lists__item">
        <% @following_requests.each do |request| %>
          <div class="following-lists__item__part">
            <% if request.following_id == current_user.id %>
              <%= link_to user_path(request.followed.id) do %>
                <p><%= request.followed.name %></p>
                <p><%= image_tag request.followed.image.url, class: "following-lists__item__part__img" %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <div class="friend-lists">
    <p>仲間一覧</p>
    <div class="friend-lists__item">
      <% if @following_okays.exists? || @followed_okays.exists? %>
        <% @following_okays.each do |follow| %>
          <div class="friend-lists__item__part">
            <% if follow.following_id == current_user.id %>
              <%= link_to user_path(follow.followed.id) do %>
                <p><%= follow.followed.name %></p>
                <p><%= image_tag follow.followed.image.url, class: "friend-lists__item__part__img" %></p>
              <% end %>
            <% else %>
              <%= link_to user_path(follow.following.id) do %> 
                <p><%= follow.following.name %></p>
                <p><%= image_tag follow.following.image.url, class: "friend-lists__item__part__img" %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
        <% @followed_okays.each do |follow| %>
          <div class="friend-lists__item__part">
            <% if follow.followed_id == current_user.id %>
              <%= link_to user_path(follow.following.id) do %>
                <p><%= follow.following.name %></p>
                <p><%= image_tag follow.following.image.url, class: "friend-lists__item__part__img" %></p>
              <% end %>
            <% else %>
              <%= link_to user_path(follow.followed.id) do %> 
                <p><%= follow.followed.name %></p>
                <p><%= image_tag follow.followed.image.url, class: "friend-lists__item__part__img" %></p>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <p>まだ、仲間を登録していません。</p>
      <% end %>
  </div>
</div>
