<% if @group.errors.any? %>
  <div id="error_explanation" class="alert alert-danger">
    <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="recruit-new-area">
  <div class="recruit-new-box">
    <h2>募集情報を投稿する</h2> <br>
    <%= form_for @group do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "グループ名" ,class: "form-part1" %>
      </div>
      <div class="form-group">
        <%= f.collection_check_boxes :user_ids, @users, :id, :name %>
      </div>
      <%= f.fields_for :recruitments do |i| %>
        <%= i.label :"タイトル*" %><br />
        <%= i.text_field :title, class: "form-part2" %><br />
        <%= i.label :"イメージ*" %><br />
        <%= i.file_field :image,class: "form-part2" %><br />
        <%= i.label :"地域*" %><br />
        <%= i.select :adress, Recruitment.adresses.keys, {prompt: '選択してください'}, autofocus: true, autocomplete: "adress", class: "form-part2" %><br />
        <%= i.label :"説明文*" %><br />
        <%= i.text_area :description, class: "form-part3" %>
      <% end %>

      <div class="actions">
        <%= f.submit "投稿する",class: "form-part2" %>
      </div>
    <% end %>
  </div>
</div>