<header>
    <div class="header-left">
      <h1>Invitation*</h1>
    </div>
    <div class="header-right">
      <ul class="header-nav">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in?%>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul> 
    </div>
</header>

<div class="invitation">
  <div class="side">
    <%= search_form_for @q do |f| %>  
      <div class="search-item">
        <%= f.label :name, "グループ名" %>
        <%= f.search_field :name_cont, class: "form-part" %>
      </div>
      <div class="search-item">
        <%= f.label :name, "ユーザー名" %>
        <%= f.search_field :users_name_cont, class: "form-part" %>
      </div>
      <div class="search-item">
        <%= f.label :title, "Keyword" %>
        <%= f.search_field :name_or_recruitments_title_or_recruitments_description_cont, class: "form-part1" %>
      </div>
      <div class="search-item">
        <%= f.label :adress, "Address:" %> 
        <%= f.select :recruitments_adress_eq, Recruitment.adresses.to_a.map{|k, v| [Recruitment.adresses_i18n[k], v]}, class: "form-part"  %>
      </div>
      <%= f.submit "検索", class: "sign-up" %>
    <% end %>
  </div>
  <div class="main">
    <div class="invitation-box">
      <% @groups.each do |group| %>
        <div class="invitation-box" >
          <div class="invitation-box__part">
            <%= group.name %>
          </div>
          <div class="invitation-box__part2">
            <p>Members</p>
            <div class="invitation-box__part2__info">
              <% group.users.each do |user| %>
                <ul>             
                  <%= link_to user_path(user) do %>
                    <li><%= user.name %></li>
                    <li><%= image_tag "#{user.image}", class: "invitation-box__part2__info__image" %></li>
                  <% end %>
                </ul>
              <% end %>
            </div>
          </div>
          <div class="invitation-box__part3">
            <% group.recruitments.each do |recruitment| %>
              <ul>
                <li><%= recruitment.title %></li>
                <li><%= image_tag "#{recruitment.image}", class: "invitation-box__part3__image" %></li>
                <li><%= recruitment.adress %></li>
                <li><%= recruitment.description %></li>
              </ul>
            <% end %>
            <% if group.user_ids.include?( current_user.id ) %>
              <%= link_to "編集", edit_group_path(group), class:"edit-btn" %>
              <%= link_to "削除", group_path(group), method: :delete, class:"edit-btn" %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
