<div class="user-new-area">
  <div class="user-new-box">
      <div class="left-box">
      <h2>編集する</h2>
      <%= form_for @user do |f| %>

        <div class="form-group">
          <%= f.label :"名前*" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-part" %>
        </div>  

        <div class="form-group">
          <%= f.label :"年齢" %><br />
          <%= f.text_field :age, autofocus: true, autocomplete: "age", class: "form-part" %>
        </div>  

        <div class="form-group">
          <%= f.label :"性別" %><br />
          <%= f.select :gender, User.genders.keys, {prompt: '選択してください'}, autofocus: true, autocomplete: "gender", class: "form-part" %>
        </div>
        
        <div class="form-group">
          <%= f.label :"仕事・特技*" %><br />
          <%= f.text_field :work, autofocus: true, autocomplete: "work", class: "form-part" %>
        </div> 
        
        <div class="form-group">
          <%= f.label :"イメージ" %><br />
          <%= f.file_field :image, autofocus: true, autocomplete: "image", class: "form-part" %>
        </div>

        <div class="form-group">
          <%= f.label :"住所*" %><br />
          <%= f.select :adress, User.adresses.keys, {prompt: '選択してください'}, autofocus: true, autocomplete: "adress", class: "form-part" %>
        </div>

        <div class="form-group">
          <%= f.label :"メールアドレス*" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-part" %>
        </div>

        <div class="form-group">
          <%= f.label :"自己紹介" %><br />
          <%= f.text_field :profile, autofocus: true, autocomplete: "profile", class: "form-part" %>
        </div>

        <div class="actions">
          <%= f.submit "更新する",class: "user-update" %>
        </div>
      <% end %>

    </div>
    <div class="right-box">
      <%= image_tag 'tori2.jpg', class:"login-img" %> 
    </div>
  </div>
</div>




     