<header>
    <div class="header-left">
      <% if @user.id == current_user.id %>
       <h1>Mypage*</h1>
      <% else %>
       <h1><%= @user.name %>'s page</h1>
      <% end %>
    </div>
    <div class="header-right">
      <ul class="header-nav">
        <li><%= link_to "Home", root_path %></li>
        <% if @user.id == current_user.id %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
          <li><%= link_to "プロフィール編集", edit_user_path(@user.id) %></li>
          <li>仲間</li>
          <li>メッセージ<i class="far fa-comment-alt"></i></li>
          <li>作品を投稿する<i class="fa fa-send-o" aria-hidden="true"></i></li>
        <% else %>
          <li><%= link_to "クリエイター一覧", users_path %></li>
        <% end %>
      </ul> 
    </div>
</header>

<div class="profile-box">
  <div class="user-profile">
    <p class="user-profile__name"><%= @user.name %></p>
    <p>age: <%= @user.age %></p>
    <p>gender: <%= @user.gender %></p>
    <p>address: <%= @user.adress %></p>
    <p>speciality: <%= @user.work %></p>
    <p>profile: <%= @user.profile %></p>
    <% if @user.id == current_user.id %>
      <p>emai: <%= @user.email %></p>
    <% end %>
  </div>  
  <div class="user-img">
    <% if @user.image? %>  
      <%= image_tag @user.image.url, class: "user-img__item" %>
    <% else %>
      <%= image_tag 'noimage2.png', class: "user-img__item"  %>
    <% end %>
  </div>  
</div>

