<header>
    <div class="header-left">
      <h1>Invitation*</h1>
    </div>
    <div class="header-right">
      <ul class="header-nav">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in?%>
          <li><%= link_to "マイページ", user_path(current_user.id) %></li>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "ログイン", new_user_session_path %></li>
          <li><%= link_to "新規登録", new_user_registration_path %></li>
        <% end %>
      </ul> 
    </div>
</header>

<div class="ivent-box">
  <div class="side">
  </div>
  <div class="main">
    <div class="post-box">
      <div class="post-box__right">    
        <%= image_tag 'flower5.jpg', class:"post-box__right__img" %> 
      </div>
      <div class="post-box__left">    
        <%= image_tag 'flower5.jpg', class:"post-box__left__img" %> 
      </div>
    </div>
  </div>
</div>