<header>
  <div class="header-left">
    <% if @user.id == current_user.id %>
      <h1>Message*</h1>
    <% else %>
      <h1><%= @user.name %>'s page</h1>
    <% end %>
  </div>
  <div class="header-right">
    <ul class="header-nav">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
      <li><%= link_to "マイページ", user_path(@user.id) %></li>
    </ul> 
  </div>
</header>

<body>
  <div class ="message-box" >
    <div class="side">
      <div class= "new-group">
        <%= link_to "Make Member", new_member_path, class:"make-member-btn" %>
      </div>
      <div class="member">
        <% @members.each do |member| %>
          <%= link_to member_messages_path(member) do %> 
            <p class="member-name"><%= member.name %></p> 
          <% end %>
          <div class ="member-list">
            <% member.users.each do |user| %>
              <ul>             
                <li><%= user.name %></li>
                <li><%= image_tag "#{user.image}", class: "member-image" %></li>
              </ul>
            <% end %>
          </div>
          <% if member.users.count > 1 %>
            <p class="member-count">他{<%= member.users.count-1 %>人}</p>
          <% end %>
          <p class="last-message"><%= member.show_last_message %><br>
        <% end %>
      </div>
    </div>
    </div>
    <%# <div class="main">
      <div class="main-top">
        <div class="main-top__group">
          <h3 class="main-top__group">メンバーを作ってトークしよう</h3>
        </div>
        <div class="main-top__member">
          <p class="main-top__member__text">Member :</p>
          <ul class="main-top__member__name">
            <li>shi</li>
            <li>shi</li>
            <li>shi</li>
          </ul>
        </div>
      </div>
      <div class="main-message">
        <div class="main-message__box1">
          おはよう。お久しぶりです。お元気でしたでしょうか？
        </div>
        <div class="main-message__box2">
          こんにちは。ご無沙汰しております。
        </div>
      </div>
      <div class="main-bottom"> %>
        <%# <%= form_with model:  [@member, @message], html: {class: "message-form"}, local: true do |f| %>
          <%# <div class ="form-box"> 
            <%= f.text_field :message, class: "form-box__message", placeholder: "type a message" %>
            <%# <%= f.submit %>
          <%# </div>
        <% end %> 
        <%# <form class="message-form"> %>
            <%# <input type="text" >
            <label class="form-box__imag">
              <i class="fas fa-image"></i>
            <input type="file", class="form-box__icon" >
            <input type="submit", class="send-btn", value="Send" > %>
          <%# </div>
        </form> %>
      </div>
    </div>
  </div>
</body>

  <%# .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class: 'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'Form__inputImage' do
          = icon('far', 'image', class: 'Form__icon')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'Form__submit' %>